<style>
.pw_main1{width:283px;height:203px;float:left;background:url(images/pw_mainbg2.jpg) 0px 0px no-repeat;margin-right:5px;position:relative;}
.pw_main2{width:283px;height:203px;float:left;background:url(images/pw_mainbg2.jpg) -277px 0px no-repeat;margin-right:5px;position:relative;}
.pw_main3{width:283px;height:203px;float:left;background:url(images/pw_mainbg2.jpg) -557px 0px no-repeat;margin-right:3px;position:relative;}
.pw_main_c1{margin:10px 18px 0px 129px;font:12px/18px 'Microsoft YaHei','SimSun',Arial,Sans-Serif;color:#505050}
.pw_main_c2{margin:10px 18px 0px 129px;font:12px/18px 'Microsoft YaHei','SimSun',Arial,Sans-Serif;color:#505050}
a.pw_main_c3,a.pw_main_c3:link,a.pw_main_c3:active,a.pw_main_c3:visited{font:bold 14px/18px 'Microsoft YaHei','SimSun',Arial,Sans-Serif;color:#696969; text-decoration:none}
a.pw_main_c3:hover{color:#ff6600;text-decoration:underline}
</style>
<div class="pw_main1">

<div class="pw_main_c1">具有企业网站常用的六种功能模块，用于建立以企业介绍和产品展示为主的企业网站</div>
<div class="pw_main_c2"><a href="{#RP#}webmall/query.php?typeid=5" class="pw_main_c3">查询本类产品</a></div>
</div>
<div class="pw_main2">

<div class="pw_main_c1">通过对细分行业企业网站的研究，专为该类企业度身定制的网站，具有鲜明的专业特点</div>
<div class="pw_main_c2"><a href="{#RP#}webmall/query.php?typeid=2" class="pw_main_c3">查询本类产品</a></div>
</div>

<div class="pw_main3">

<div class="pw_main_c1">以专用功能模块为主导的专业网站系统，包括具有专用功能的企业网站和运营型网站系统</div>
<div class="pw_main_c2"><a href="{#RP#}webmall/query.php?typeid=6" class="pw_main_c3">查询本类产品</a></div>
</div>
