<!-text->
<style>
.modulebutton{float:left;width:115px;height:25px;font:12px/25px Arial;margin:0px 0px 1px 3px;text-align:center;background:url(images/pwbutton.gif) no-repeat}
</style>

<div class="modulebutton">基础功能模块</div>
<div class="modulebutton">全站搜索模块</div>
<div class="modulebutton">会员功能模块</div>
<div class="modulebutton">新闻文章模块</div>
<div class="modulebutton">图片展示模块</div>
<div class="modulebutton">产品展示模块</div>
<div class="modulebutton">文件下载模块</div>
<div class="modulebutton">网友点评模块</div>
<div class="modulebutton">客户服务模块</div>
<div class="modulebutton">留言反馈模块</div>
<div class="modulebutton">企业留言模块</div>
<div class="modulebutton">企业招聘模块</div>
<div class="modulebutton">互动留言模块</div>
<div class="modulebutton">悬赏问答模块</div>
<div class="modulebutton">医院门诊模块</div>

<!-text->