/* ============¼ìË÷============== */

#maqquery {margin:0;border-bottom:0px #ddd solid}
#maqquery ul{margin:0;padding:0}
#maqquery li{list-style-type: none;margin:5px 0px 15px 0px;border-bottom:1px #eee dotted;}
#maqquery div.face{width:80px;margin-left:0px;padding:3px;text-align:center; white-space:nowrap; overflow:hidden}
#maqquery a.bt {margin-right:10px;padding-left:5px;font:bold 14px/20px Verdana, Arial, Helvetica,sans-serif;}
#maqquery .cl{font:12px/20px Verdana, Arial, Helvetica,sans-serif;color:#8c8c8c;margin-bottom:10px;}
#maqquery .lastname{font:12px/20px Verdana, Arial, Helvetica,sans-serif;color:#8c8c8c}
#maqquery a.pname{font:12px/20px Verdana, Arial, Helvetica,sans-serif;color:#8c8c8c}
#maqquery .maqok{background:#68c300;padding:1px 3px;color:#fff}
#maqquery .maqnotok{background:#ff8c00;padding:1px 3px;color:#fff}
#maqquery .maqexped{background:#00a9e1;padding:1px 3px;color:#fff}
#maqquery .querytop{height:28px;padding-bottom:3px;text-align:right;margin-bottom:20px;border-bottom:3px #eee solid}
#maqquery .querytoptext{float:left;font:12px/28px Verdana, Arial, Helvetica,sans-serif;}
#maqquery .querytop img{margin-left:3px;}

/* ============±íµ¥============== */

div#maqForm {padding:1px;border:1px #dcdcdc solid; margin:0px -1px -1px -1px;text-align:left}
div#maqForm .formtitlebg{height:30px;line-height:30px;border-bottom:1px #dcdcdc solid;text-align:center;background:#f8f8f8;}
div#maqForm .formtitle{padding-left:25px;float:left;line-height:28px;background:url(../images/cateitems.gif) 10px no-repeat;}
div#maqForm .formzone{margin:0;padding:15px;text-align:left;}
div#maqForm .row{width:100%;padding:3px 0px;clear:both}
div#maqForm .left{width:90px;float:left;text-align:center;padding:3px 5px}
div#maqForm .con{float:left;text-align:left}




.loginlink{cursor:pointer;text-decoration: underline}
.logoutlink{cursor:pointer;text-decoration: underline}