<!-start->
<link href="css/templist.css" rel="stylesheet" type="text/css" />
<!-start->
<!-list->
<div class="templist">
    <div class="templist_left">
		<div class="fang" style="width:{#picw#}px;height:{#pich#}px;">
			<div class="picFit" style="width:{#picw#}px;height:{#pich#}px;">
			<a href="{#link#}" target="{#target#}" ><img src="{#src#}" style="width:{#picw#}px;" border="0" /></a>
			</div>
		</div>
	</div>
		
    <div class="templist_right" >
	<a href="{#link#}" target="{#target#}" class="prodtitle" >{#name#}</a>
	</div>

</div>
<!-list->
<!-end->



<!-end->