
<style>
#psbuy,#psbuy td,#psbuy div{font:12px/18px 'Microsoft YaHei','SimSun',Arial,Sans-Serif;color:#333333}
#psbuy .psbmemotit{font:bold 14px/35px 'Microsoft YaHei','SimSun',Arial,Sans-Serif;color:#e60000;margin:5px 0px;}
#psbuy .psbmemo{font:12px/18px 'Microsoft YaHei','SimSun',Arial,Sans-Serif;color:#333333}
a.style1 {
	color: #FF3300;
	font-weight: bold;
}
.style1 {color: #FF3300}
</style>



<table width="100%"  border="0" cellspacing="1" cellpadding="0">
    <tr valign="top">
	 <td width="280" style="cursor:pointer" onClick="window.open('{#demourl#}','_blank')">
	  <div style="width:250px;border:0px #ddd solid;text-align:center;margin:0px;">

  <img src="{#src#}" width="250" border="0" />

  </div>
	  </td>
      <td>
	   
	    <table width="95%" border="0" cellspacing="0" cellpadding="0" >
  <tr valign="top">
    <td height="25" style="font:bold 16px/20px 'Microsoft YaHei','SimSun',Arial,Sans-Serif;padding-bottom:10px;">No.{#spool#} &nbsp;{#name#}</td>
  </tr>
  <tr valign="top">
    <td height="25" style="font:12px/20px 'Microsoft YaHei','SimSun',Arial,Sans-Serif;padding-bottom:15px;">您想制作<span ><a href="{#demourl#}" target="_blank" class="style1">{#name#}</a></span>吗？不用找人定做，就买现成的！<br>
      您可以通过<a href="{#demourl#}" target="_blank" class="style1">演示</a>网站，免费体验。<br>
      <br>
      行业网站超市的每一款网站产品都是为行业用户度身定制的成品网站，具有适合行业的设计风格、栏目内容布局和功能强大的网站管理系统。您可以访问<a href="{#demourl#}" target="_blank" class="style1">演示</a>网站、全面体验网站管理功能，选购最合适您的产品，迅速建立您的网站！</td>
  </tr>
  <tr >
    <td height="25" style="font:12px/20px 'Microsoft YaHei','SimSun',Arial,Sans-Serif;">产品名称：{#name#} (编号：{#spool#})
      <input name="spool" type="hidden" id="spool" value="{#spool#}" /></td>
    </tr>
  <tr >
    <td height="25" style="font:12px/20px 'Microsoft YaHei','SimSun',Arial,Sans-Serif;">管理系统：智能网站管理系统</td>
  </tr>
  <tr >
    <td height="25" style="font:12px/20px 'Microsoft YaHei','SimSun',Arial,Sans-Serif;">包含模块：{#modules#}</td>
    </tr>
  <tr >
    <td height="25" style="font:12px/22px 'Microsoft YaHei','SimSun',Arial,Sans-Serif;">软件授权：软件永久商业授权一个</td>
    </tr>
  <tr >
    <td height="25" style="font:12px/20px 'Microsoft YaHei','SimSun',Arial,Sans-Serif;">支持服务：软件支持服务一年</td>
    </tr>
  <tr >
    <td height="25" style="font:12px/20px 'Microsoft YaHei','SimSun',Arial,Sans-Serif;">套餐价格：协商报价</td>
    </tr>
  <tr>
    <td height="8" ></td>
    </tr>
  </table>
				
	  <table width="100%" border="0" cellpadding="0" cellspacing="1" >
          <tr>
            <td height="60" colspan="2" style="font:12px/22px 'Microsoft YaHei','SimSun',Arial,Sans-Serif;"><a href="{#demourl#}" target="_blank"><img src="images/showdemo.gif" alt="演示网站" width="112" height="30"  border="0"></a></td>
          </tr>
          <tr>
            <td height="60" colspan="2" style="font:12px/22px 'Microsoft YaHei','SimSun',Arial,Sans-Serif;">网址：{#demourl#}</td>
          </tr>
          <tr>
            <td height="60" colspan="2" style="font:12px/22px 'Microsoft YaHei','SimSun',Arial,Sans-Serif;">网址：<a href="{#demourl#}">{#demourl#}</a></td>
          </tr>
        </table></td>
     
    </tr>
</table>
<br>
<div id="psbuy">
<table cellSpacing=1 cellPadding=6 width="100%" bgColor=#dddddd border=0>
<tbody>
<tr bgColor=#f5f5f5>
<td colspan="2" bgcolor="#f5f5f5">服务方式和服务时间</td>
</tr>
<tr bgColor=#ffffff>
<td bgColor=#ffffff>电话支持<br /><font color=#777777>非节假日周一到周五8:30-17:30</font></td>
<td align=center width=165>√</td>
</tr>
<tr bgColor=#ffffff>
<td bgColor=#ffffff>Email、传真支持<br /><font color=#777777>非节假日周一到周五8:30-17:30</font></td>
<td align=center width=165>√</td>
</tr>
<tr bgColor=#ffffff>
<td bgColor=#ffffff>QQ/MSN支持<br /><font color=#777777>非节假日周一到周五8:30-17:30</font></td>
<td align=center width=165>√</td>
</tr>
<tr bgColor=#f5f5f5>
<td colspan="2" bgcolor="#f5f5f5">软件支持服务项目和范围 (套餐中已包含一年的支持服务费，第二年起{#xufei#}元/年) </td>
</tr>
    <tr bgColor=#ffffff>
      <td bgColor=#ffffff>商业授权和支持服务捆绑域名更换<br />
          <font color=#777777>软件商业授权和支持服务与网站的域名捆绑，作为识别商业授权和提供支持服务的标识，在服务期内可以更换该捆绑域名</font></td>
      <td width="165" align=center>2次</td>
    </tr>
<tr bgColor=#ffffff>
<td bgColor=#ffffff>网站安装服务<br />
  <font color=#777777>检测虚拟主机是否可以安装本软件，将用户所购买的网站产品安装到虚拟主机空间</font></td>
<td align=center width=165>√</td>
</tr>
<tr bgColor=#ffffff>
  <td bgColor=#ffffff>软件模块安装服务<br />
    <font color=#777777>对增加购买的自选模块，提供模块安装服务，并按当前风格对新增模块的页面进行排版</font></td>
  <td align=center>√</td>
</tr>
<tr bgColor=#ffffff>
<td bgColor=#ffffff>软件操作咨询<br /><font color=#777777>软件本身使用操作的咨询</font></td>
<td align=center width=165>√</td>
</tr>
<tr bgColor=#ffffff>
<td bgColor=#ffffff>软件故障处理<br /><font color=#777777>进行故障分析，排除软件故障</font></td>
<td align=center width=165>√</td>
</tr>
<tr bgColor=#ffffff>
<td bgColor=#ffffff>软件问题反馈和BUG报告<br /><font color=#777777>软件程序错误、漏洞报告，提供修复补丁或解决方案</font></td>
<td align=center width=165>√</td>
</tr>
<tr bgColor=#ffffff>
  <td bgColor=#ffffff>软件升级更新<br />
      <font color=#777777>不定期提供软件升级，服务期内可通过软件后台安装升级，用户可委托我们代升级，也可在指导下自行升级</font></td>
  <td align=center>√</td>
</tr>
<tr bgColor=#ffffff>
  <td bgColor=#ffffff>软件运行保障服务<br />
      <font color=#777777>以确保网站正常使用为目的，在非本软件原因(如域名、主机环境)导致网站工作不正常时，提供适当的帮助，协助用户判断出现问题的原因，促成问题的解决。</font></td>
  <td align=center>√</td>
</tr>
<tr bgColor=#ffffff>
  <td colspan="2" bgColor=#ffffff><span class="psbmemo"><span class="style1" style="line-height:28px">以下情况不属于软件支持服务范围</span><br>
    1、自行修改或使用非原始程序代码或模版产生的问题<br />
    2、在环境不适用的虚拟主机中安装网站<br />
    3、HTML、CSS、JS、PHP基础知识<br />
    4、模板、插件、程序的开发方面的</span>咨询<br>    
    5、其他未指定提供的服务项目</td>
</tr>
<tr bgColor=#f5f5f5>
  <td colspan="2" bgcolor="#f5f5f5">可选订购的单项增值服务</td>
  </tr>
<tr bgColor=#ffffff>
  <td bgColor=#ffffff>企业网站实施服务<br />
      <font color=#777777>在所选网站产品的基础上，完成企业网站整体建设。包括企业LOGO上传、FLASH动画制作、企业图片和文字资料录入等，不包括模板定制和功能模块开发，具体请联系销售人员</font><br /></td>
  <td align=center>协商报价</td>
</tr>
<tr bgColor=#ffffff>
  <td bgColor=#ffffff>网站定制开发<br />
      <font color=#777777>按用户的需求，定制开发基于智能网站管理系统的整体网站、功能模块或设计风格</font><br /></td>
  <td align=center>协商报价</td>
</tr>
</tbody></table>
</div>
<table width="100%"  border="0" cellspacing="1" cellpadding="0">
  <tr>
    <td style="padding:20px;font:14px/20px 'Microsoft YaHei','SimSun',Arial,Sans-Serif">&nbsp;</td>
  </tr>
</table>
