<!-start->
<link href="css/templistall_dolphin.css" rel="stylesheet" type="text/css" />
<!-start->
<!-list->
<div class="templistall_dolphin">
    <div class="templistall_dolphin_left">
		<div class="fang" style="width:{#picw#}px;height:{#pich#}px;">
			<div class="picFit" style="width:{#picw#}px;height:{#pich#}px;">
			<a href="{#link#}" target="{#target#}" ><img src="{#src#}" style="width:{#picw#}px;" border="0" /></a>
			</div>
		</div>
	</div>
		
    <div class="templistall_dolphin_right" >
	<a href="{#link#}" target="{#target#}" class="prodtitle" >查看网站详情</a>
	</div>
	<span class="prop">
	    名称：{#name#} <br />
		行业分类：{#tempcat#} <br />
		套餐价格：{#price#}元 <br />
  </span>
			  <div class="memo"><a href="{#demourl#}" target="_blank"><img src="images/b7.gif" alt="演示网站" width="34" height="15" border="0"></a><a href="{#tryurl#}"><img src="images/b5.gif" alt="免费试用" width="34" height="15" border="0"></a><a href="{#link#}"><img src="images/b8.gif" alt="订购" width="50" height="15" border="0"></a>  
	  </div>

</div>
<!-list->
<!-end->



<!-end->